S3method(conversion,character)
S3method(conversion,default)
S3method(conversion,logical)
S3method(subscript,data.frame)
S3method(subscript,default)
S3method(subscript,dist)
S3method(subscript,phylo)
export(conversion)
export(ss)
export(subscript)
