S3method(as.data.frame,speciesList)
S3method(as.matrix,speciesList)
S3method(as.table,speciesList)
S3method(conversion,character)
S3method(conversion,default)
S3method(conversion,logical)
S3method(dnames,data.frame)
S3method(dnames,default)
S3method(dnames,dist)
S3method(dnames,phylo)
S3method(dnames,speciesList)
S3method(subscript,data.frame)
S3method(subscript,default)
S3method(subscript,dist)
S3method(subscript,phylo)
export(conversion)
export(dnames)
export(dnamesNames)
export(speciesList)
export(ss)
export(subscript)
